[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
[submodule "themes/explore"]
	path = themes/explore
	url = https://github.com/yogirk/explore.git
