<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale | default "en" }}" dir="{{ .Language.Direction | default "ltr" }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "header.html" . }}
  <main class="site-main">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ $js := resources.Get "js/minimal.js" | resources.Minify | fingerprint }}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous" defer></script>
  {{ if .Store.Get "hasMermaid" }}
  {{ $mermaidInit := resources.Get "js/mermaid-init.js" | resources.Minify | fingerprint }}
  <script type="module" src="{{ $mermaidInit.RelPermalink }}" integrity="{{ $mermaidInit.Data.Integrity }}" crossorigin="anonymous"></script>
  {{ end }}
  {{ partial "analytics.html" . }}
</body>
</html>
